body {
    font-family: Arial, sans-serif;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.chart-name {
    text-align: center;
    margin-top: 20px;   
}

h2, h3 {
    color: #333;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(255, 255, 153);
}

thead {
    background-color: #ffbb00;
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

table, th, td {
    border: none;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chart {
    background-color: rgb(255, 255, 153);
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0 20px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    background-color: rgb(255, 255, 153);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 30px;
}

.back-button {
    text-align: center;
}